<%- include("partials/header.ejs") %>
<h2>Register</h2>
<p>This register form is not secure. It's part of project made for learning.</p>
<p><strong>Don't use any "real" password you have here. Don't reuse passwords used here for any other purpose. Consider any passwords used here to be compromised.</strong></p>
<div id="register-panel">
    <div class="form-container">
        <form id="login-form" class="login-form" action="/register" method="post">
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="email">Email Address</label>
            <input type="text" name="email">
            <label for="password">Password</label>
            <input type="text" name="password">
            <button type="submit" class="button-primary">Register</button>
        </form>
    </div>
    <p>Already have an account? <a href="/userLogin">Login</a></p>
</div>
<%- include("partials/footer.ejs") %>