body {
    color: #27374D;
    background-color: #DDE6ED;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "navbar"
        "main"
        "footer";
}

main {
    padding: 1rem;
}

nav {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #9DB2BF;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

svg {
    height: 30px;
    width: 30px;
}

p {
    margin: 1rem;
}

h1 {
    margin: 0.5rem;
}

h2, h3 {
    margin: 1rem;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    min-width: 70px;
    height: 40px;
}

button:disabled {
    background-color: #6c757d;
    color: #babcbf;
}

input[type="submit"] {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #526D82;
    color: #DDE6ED;
    font-size: medium;
}

.text-warning {
    color: #b48701;
}

.text-danger {
    color: #701a22;
}

.button-primary {
    background-color: #0d6efd;
    color: white;
}

.button-secondary {
    background-color: #6c757d;
    color: white;
}

.button-success {
    background-color: #198754;
    color: white;
}

.button-danger {
    background-color: #dc3545;
    color: white;
}

.button-panel {
    display: flex;
    flex-direction: row;
}

.books-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.book-card {
    margin: 5px;
    border: 2px solid grey;
    border-radius: 5px;
    min-width: 30vw;
    max-width: 30vw;
}

.rating-card-top-bar {
    display: flex;
    justify-content: space-between;
}

.rating-card-top-bar > .btn-panel {
    display: flex;
}

.hidden {
    visibility: hidden;
}

#auth-panel {
    display: flex;
    flex-direction: row;
}

#login-panel, #register-panel {
    display: flex;
    flex-direction: column;
}
